.AddTourney {

    padding: 20px;
    background:#30BCB9;
    border-radius: 10px;
    margin: 2vw auto;
    /* width: 95%; */
    
}

.AddTourney:button{
    flex-wrap: wrap;
    height: 50px;
    min-width: 400px;
}

.AddTourney:input {
    height: 40px;
}

.details {
    min-width: 300px;
  }